<div class="text-field">
  <%= form.label :email %>
  <%= form.email_field :email, class: 'block rounded-lg' %>
</div>

<div class="password-field ">
  <%= form.label :password %>
  <%= form.password_field :password, class: 'block rounded-lg' %>
</div>
